<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
      <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
      <property name="hibernate.connection.username">postgres</property>
      <property name="hibernate.connection.password">MANAGER</property>
      <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/FS3</property>
      <property name="hibernate.show_sql">true</property>
      <property name="hibernate.format_sql">true</property>
      <mapping class="ru.fsinfo.entity.Choreographer"/>
      <mapping class="ru.fsinfo.entity.Coach"/>
      <mapping class="ru.fsinfo.entity.Competition"/>
      <mapping class="ru.fsinfo.entity.CompetitionType"/>
      <mapping class="ru.fsinfo.entity.Country"/>
      <mapping class="ru.fsinfo.entity.Discipline"/>
      <mapping class="ru.fsinfo.entity.Pair"/>
      <mapping class="ru.fsinfo.entity.Period"/>
      <mapping class="ru.fsinfo.entity.Person"/>
      <mapping class="ru.fsinfo.entity.Program"/>
      <mapping class="ru.fsinfo.entity.Result"/>
      <mapping class="ru.fsinfo.entity.Skater"/>
      <mapping class="ru.fsinfo.entity.SkaterCoach"/>
      <mapping class="ru.fsinfo.entity.SkaterCountry"/>
      <mapping class="ru.fsinfo.entity.SkaterDiscipline"/>
      <mapping class="ru.fsinfo.entity.SkaterProgram"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>